extends layout

block content
  #weather= weather
  input(type='search',
        id='searchBar',
        name='search',
        autocapitalize="off",
        x-webkit-speech,
        autocomplete='on',
        autofocus,
        required,
        autosave,
        incremental,
        results='10'
      )
  .border
  
  script(src="/javascripts/index.js")
  